<h1>Make your form here</h1>
<form action="/pirates" method="post">
  <h2>Pirate</h2>
  <label for="pirate_name">Pirate name </label>
  <input type="text" name="pirate[name]" id="pirate_name"><br>
  <label for="pirate_weight">Pirate weight </label>
  <input type="text" name="pirate[weight]" id="pirate_weight"><br>
  <label for="pirate_height">Pirate height </label>
  <input type="text" name="pirate[height]" id="pirate_height"><br>

  <h2>Ships</h2>

  <label for="ship_name_1">Ship name 1 </label>
  <input type="text" name="pirate[ships][][name]" id="ship_name_1"><br>
  <label for="ship_type_1">Ship type 1 </label>
  <input type="text" name="pirate[ships][][type]" id="ship_type_1"><br>
  <label for="ship_booty_1">Ship booty 1 </label>
  <input type="text" name="pirate[ships][][booty]" id="ship_booty_1"><br>

  <label for="ship_name_2">Ship name 2 </label>
  <input type="text" name="pirate[ships][][name]" id="ship_name_2"><br>
  <label for="ship_type_2">Ship type 2 </label>
  <input type="text" name="pirate[ships][][type]" id="ship_type_2"><br>
  <label for="ship_booty_2">Ship booty 2 </label>
  <input type="text" name="pirate[ships][][booty]" id="ship_booty_2"><br>
  <input type="submit" value="Submit">
</form>
